<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>726844067600-6l4d9vj9gj79sglon950of4pqtsot6uq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726844067600-6l4d9vj9gj79sglon950of4pqtsot6uq</string>
	<key>API_KEY</key>
	<string>AIzaSyCTCYedDrWu4XdZgyezUwW2afc8UVpt2Zg</string>
	<key>GCM_SENDER_ID</key>
	<string>726844067600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoappflutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-66691</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-66691.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726844067600:ios:f1517c072701cb7c</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-todo-66691.firebaseio.com</string>
</dict>
</plist>